xml lab 3/AttributeSchema.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="smartphone">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:int"/>
        <xs:element name="model" type="xs:string"/>
        <xs:element name="brand" type="xs:string"/>
        <xs:element name="price" type="xs:decimal"/>
        <xs:element name="country">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="South Korea"/>
              <xs:enumeration value="United States of America"/>
              <xs:enumeration value="Finland"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="smartphones">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="smartphone" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>